.post-images{
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
    width: 12.1875rem;
    height: 7.3125rem;
    overflow: hidden;
    z-index: 5;
    border-radius: 5px;
}
.post-images img{
    width: 100%;
    height: 100%;
}
.btn-contact{
    display: none;
}
.main-header{
    position: sticky;
    display: flex;
    height:2.8rem;
    width: 100%;
    background: #ff7100;
    top: 0;
    right: 0;
}
.material-icons{
    color:rgb(0, 0, 0);
}
.main-header__mobile{
    width: 55%;
    display: flex;
    justify-content:space-between;
    align-items:baseline;
}
.toggle-button{
    height:100%;
    border: none;
    background: #ff7100;
    color: white;
    padding: 0 1.2rem;

}

.main-header__brand__mobile img{
    height: 1.5rem;
}
.main-nav{
    display: none;
}
.mobile-searching__property{
    margin: 0.9rem 0.6rem;
    padding: 1rem 0.9rem;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
}
.mobile-searching__property div{
    display: inline-block;
}
.search-mobile__span{
    vertical-align: middle;
    display: inline-block;
}
.search-wrapper,
.navbar-wrapper{
    display: none;
}

.title-description{
    display: flex;
    color: #999;
}
.title-description div{
    padding: 0 0.2rem;
}
.feed-options{
    margin-top: 5rem;
    display: flex;
}
.accessibility-btn,
.showADS,
.sortBy{
    display: none;
}
.all-feed__list{
    margin-bottom: 8rem;
}
.filter-option__mobile{
    display: none;
}
.image-container img{
    display: block;
    width: 7.8rem;
    height: 6.25rem;
}

.feed-options__button{
    height: 2rem;
    padding: 0 0.6875rem;
    margin-left: 0.7rem;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 2px;
}
.feed-list__item{
    height: 6.875rem;
    display: grid;
    position: relative;
    cursor: pointer;
    background-color: #f5f1bf;
    border: 1px solid rgba(0,0,0,.1);
}
.location-asset{
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.image-container{
    width: 7.8rem;
    height: 6.25rem;
    position: absolute;
}
.location-asset__description{
    display: block;
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    overflow: hidden;
    padding-right: 8.5rem;
}
.location-asset__description div{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.partial-detail__asset{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 8.5rem;
    left: 0;
    padding: 0.2rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
}
.asset-price{
    position: absolute;
    display: flex;
    top: 0;
    right: 8.5rem;
    left: 0;
    padding: 0.5rem;
    justify-content: space-between;
}
.footer,
.main-nav__item{
    display: none;
}
.partial-detail__asset__data div{
    font-size: 0.75rem;
}
.footer,
.footer-mobile{
    background-color: #363636;
    color: #fff;
    text-align: center!important;
    padding: 50px 0 10px;
}
.footer-mobile{
    padding: 1.25rem 1.25rem 0.625rem;
}
.footer-mobile__category-links{
    margin: 1.6rem 0;
    width: 100%;
}
.footer-mobile__category-lists{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 500;
}
.social_links{
    width: 11.25rem;
    margin: 1.875rem auto;
    display: flex;
    justify-content: space-between;
}
.footer_icon{
    width: 2.2rem;
    height: 2.2rem;
    background: #000;
    border-radius: 50%;
    position: relative;
}
.footer_icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.copyrights_text{
    width: 100%;
    margin: 1.25rem auto;
    font-size: 0.75rem;
    line-height: .875rem;
    color: #999;
}
.footer_menu__moblie{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-menu__link{
    padding: 0 1.25rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #999;
    text-decoration: none;
}
@media (min-width: 45rem) {
    .main-header{
        position: unset;
        height: 4.3rem;
        background-color: #fff;
        border-top: 5px solid #ff7100;
        align-items: center;
    }
    .searching-property,
    .main-header__mobile,
    .toggle-button{
        display: none;
    }
    .main-nav{
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.2rem;
        margin-bottom: 2px;
        border-bottom: 1px solid #eee;
    }
    .main-header__brand img{
        height: 3.375rem;
    }
    .main-nav__items{
        list-style: none;
        align-items: center;
        display: flex;
        padding: 0;
    }
    .new-post__add{
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: #0fca80;
        margin: 15px 15px 15px 0;
        line-height: 2.5rem;
        font-weight: 500;
    }
    .new-post__add a{
        text-decoration: none;
    }
    .new-post__add a span{
        color: #fff;
    }
    .new-post__add a i{
        color: #fff;
        vertical-align: super;
    }
    .navbar-wrapper{
        background-color: #fff;
        height: 3.1rem;
        box-shadow: 0 5px 6px 0 rgb(0 0 0 / 10%);
    }
    .feed-navbar{
        height: inherit;
        display: flex;
        justify-content: space-between;
    }
    .feed-navbar__items{
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 6.7rem;
        padding: 0;
    }
    .feed-navbar__item{
        height: 100%;
        font-size: 1.2rem;
        padding: 0 1rem;
    }
    .sub_menu_logo{
        height:1rem;
    }
    .feed-navbar__item a{
        text-decoration: none;
    }
    .feed-navbar__item__description div{
        display: flex;
        align-items: center;
    }
    .feed-navbar__item__description img,
    .feed-navbar__item__description span{
        font-size: 1.1rem;
        padding-left: 0.2rem;
    }
    .feed-navbar__item__description p{
        margin: 0;
    }
    .title{
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 0;
    }
    .title-description{
        align-items: center;
    }
    .title-description div{
        font-size: 1.1rem;
    }
    .accessibility-btn{
        margin: 5px 0;
        height: 2.5rem;
        background-color: #002f75;
        width: 6.25rem;
        border-radius: 3px;
        color: #fff;
        padding: 0;
    }
    .accessibility-btn span{
        color: #fff;
        background-color: #002f75;
        font-size: 30px;
        vertical-align: middle;
    }
    .accessibility-btn i{
        font-weight: 700;
        font-size: 0.9rem;
    }
    .search-wrapper{
        position: relative;
        display: block;
        margin-top: 1.1rem;
        border-radius: 0.25rem;
        padding: 1.25rem;
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    }
    .search-realestate__subtitle{
        font-weight: 500;
        margin: 0 0 1.9rem 0;
    }
    .search-realestate__subtitle span{
        color: #ff7100;
        border-bottom: 2px dotted #ff7100;
    }
    .form-search__realestate__columns{
        display: grid;
        grid-template-columns: 7fr 5fr 4fr 6fr 4fr 3fr;
    }
    .search-column{
        position: static;
        display : flex;
        flex-direction: column;
        margin: 0 5px;
    }
    .search-column input{
        color: #999;
        border: 1px solid #ccc;
        border-radius: 1px;
        height: 2.423rem;
        padding: 0.6rem;
    }
    .search-column__button{
        margin-top: 1rem;
    }
    .search-column__button button{
        height: 2.423rem;
    }
    .allTypes-ofAssets{
        z-index: 5;
        position: absolute;
        width: -webkit-fill-available;
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
        padding-top: 0.7rem;
        align-items: center;
    }
    .check-type{
        display: flex;
        align-items: center;
        margin: 0 0.3rem 0.5rem;
    }
    .check-type__btn{
        border-top: 1px solid #eee;
        text-align: left;
    }
    .check-type__btn button{
        color: #ff7100;
        font-size: 1rem;
        padding: 0.8rem;
    }
    .search-advanced{
        background-color: #eee;
    }
    .dropdown-content__search{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        width: 100%;
        max-width: 960px;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
        border-top: 1px solid #ccc;
        z-index: 50;
    }
    .advanced-search__content{
        margin: 1.875rem 2.5rem 0;
    }
    .advanced-search__content ul{
        padding: 1rem;
    }
    .advanced-search__apartment-characteristics{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        border-bottom: 1px solid #ccc;
    }
    .advanced-search__apartment-characteristic{
        display: flex;
        align-items: center;
    }
    .advanced-search__descriptions{
        display: grid;
        grid-template-columns: 5fr 5fr 3fr 3fr;
        column-gap: 0.6rem;
        border-bottom: 1px solid #ccc;
    }
    .advanced-search__description-input{
        display: inline-flex;
    }
    .advanced-search__description-input input{
        width: 100%;
    }
    .free-search{
        display: flex;
        border-bottom: 1px solid #ccc;
    }
    .free-search__item-input,
    .free-search__item{
        width: 100%;
    }
    .free-search__item-checkbox{
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    .searrchOrClean{
        display: flex;
        justify-content: space-between;
        width: 50%;
        float: left;
    }
    .search-again{
        background-color: #ff7100;
    }
    .field-drop__button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        height: 2.423rem;
        border: 1px solid #ccc;
    }
    .feed-options{
        padding-left: 10rem;
        justify-content:space-between;
    }
    .feed-options button{
        height: 2rem;
        border: 1px solid #dbdbdb;
        background-color: #fff;
        border-radius: 2px;
    }
    .feed-options span{
        vertical-align: middle;
    }
    .feed-options i{
        color: black;
    }
    .showADS-mobile,
    .sortBy-mobile{
        display: none;
    }
    .showADS,
    .sortBy{
        display: block;
        position: relative;
    }
    .sortBy button{
        width: 10.5rem;
        text-align: right;
    }
    .sortBy span{
        text-align: left;
    }
    .feed-filter___dropdowm{
        display: block;
        position: absolute;
        z-index: 5;
        background: #fff;
        padding: 0.75rem 1.1rem;
        top: 3rem;
        transform: translateX(-15%);
    }
    .feed-filter__dropdown__list{
        margin: 0.7rem;
    }
    .feed-lists{
        position: relative;
        margin: 0;
        width: 50rem;
    }
    .feed-list__item{
        grid-template-columns: 23.5rem 14.5rem 12rem;
    }
    .feed-list__item:hover{
        box-shadow: 1.5px 1.5px 10px 2px rgb(220 218 218 / 50%);
    }
    .location-asset{
        height: auto;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .image-container{
        display: flex;
        overflow: hidden;
        width: 10.8rem;
        height: 4.375rem;
        margin: auto 0.6rem;
        position: relative;
    }
    .location-asset__description{
        padding: 0.5rem;
    }
    .image-container img{
        width: 6.9rem;
        height: 4.13rem;
    }
    .image-container__numImage span{
        background: #fff;
        position: absolute;
    }
    .image-container__currentNumber{
        position: absolute;
        font-weight: bold;
        z-index: 3;
    }
    .image-container__numImage span,
    .image-container__currentNumber{
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    .partial-detail__asset{
        position: unset;
        border-left: 1px solid rgba(0,0,0,.1);
        border-top: none;
        justify-content: space-evenly;
    }
    .partial-detail__asset__data div{
        font-size: 1rem;
    }
    .asset-price{
        position: unset;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 1rem;
    }
    .asset-price span{
        padding: 3px 0 4px 7px;
    }
    .asset-price__data{
        padding-left: 1rem;
    }
    .feed-lists__content{
        display: flex;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.1);
    }
    .newProject-area__image img{
        width: 12rem;
        height: 6.5rem;

    }
    .feed-lists__content-description{
        padding: 0.3rem 0.9rem 0.5rem 0.5rem;
    }
    .feed-lists__subtitle{
        margin: 0.5rem 0;
    }
    .btn-contact{
        position: static;
        width: 11.25rem;
        height: 2.1875rem;
        position: absolute;
        top: 5.8rem;
        left: 0.8rem;
        background-color: #0fca80;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 2px;
        z-index: 5;
    }
    .btn-contact__description{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-details{
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    }
    .contact-details div{
        padding: 1rem;
        border-bottom: 1px solid #d6d6d6;
        text-align: center;
        color: black;
    }
    .material-icons__including-list{
        font-size: 1.1rem !important;
        padding-left: 0.2rem;
    }
    .feed-lists__description{
        width: 34rem;
        margin-bottom: 0.3rem;
        line-height: 1.3em;
    }
    .general-info__lists{
        grid-template-columns: 1fr 1fr;
    }
    .general-info__list{
        font-size: 0.8rem;
    }
    .general-info__list dd{
        padding-right: 0.2rem;
        font-weight: 600;
    }
    .feed-lists__including-lists{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .including-list{
        display: flex;
        padding: 5px 5px 15px 10px;
        align-items: center;
    }
    .including-list__info{
        margin-right: 0.3rem;
    }
    .feed-list__item-click{
        height: 8.5625rem;
        grid-template-columns: 35.5rem 14.5rem;
    }
    .location-asset__click{
        border-left: 0;
    }
    .location-asset__description-click{
        position: absolute;
        right: 13.5rem;
    }
    .partial-detail__asset-click{
        position: absolute;
        border-left: 0;
        height: 3.75rem;
        width: 12.1875rem;
        right: 12.7rem;
    }
    .asset-price__click{
        justify-content: center;
        height: 40%;
    }
    .footer-mobile{
        display: none;
    }
    .footer{
        display: block;
        color: #999;
    }
    .footer p{
        width: 52.5rem;
        margin: 1.25rem auto;
        font-size: .875rem;
    }
    .footer-category__links{
        width: 58.75rem;
        margin: 2.5rem auto auto;
    }
    .footer-category__lists{
        display: flex;
        justify-content: space-between;
    }
    .footer-category__link{
        display: flex;
        flex: 0.1;
        text-align: start;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sub-category__links li{
        min-width: 4.9rem;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }
    .footer_menu{
        width: 53rem;
        display: flex;
        justify-content: center;
        margin: 1.25rem auto;
    }
    .footer_menu a{
        padding: 0 1rem;
    }
}
@media (min-width: 74.5rem) {
    .main-nav__item{
        display: list-item;
        padding: 0 1rem;
    }
    .disconnect:hover .user_dropdown{
        display: block;
    }
    .disconnect:hover .connectetFirstLatterName{
        background-color: #eee;
    }
    .user_dropdown .dropdown_item:hover{
        background-color: #eee;
    }
    .connectetFirstLatterName{
        padding: 10px 8px;
        font-size: 1rem;
        line-height: 1.1875rem;
        font-weight: 400;
        margin-left: 3px;
        width: 40px;
        height: 40px;
        background-color: #fff1e5;
        text-align: center;
        border-radius: 50%;
        color: #ff7100;
    }
    .user_dropdown{
        display: none;
        position: absolute;
        width: 170px;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 6px 10px 0 rgb(0 0 0 / 14%);
        top: 4.25rem;
        left: -2.5rem;
        z-index: 100;
    }
    .dropdown_item{
        height: 2.7rem;
        display: flex;
        row-gap: 0.5rem;
        align-items: center;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}
body{
    font-size: 16px;
    line-height: 16px;
    color: #363636;
    direction: rtl;
    background: #f9f9f9;
    margin: 0;
    font-family: sans-serif;
}
main {
    max-width: 60rem;
    margin: 0 auto;
}
button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    background-color: initial;
    outline: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
p,h3,dd,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
input[type="checkbox"]
{
    vertical-align: bottom;
}
.w-5{
    display: none;
}
.my-active span{
    display: inline-block;
    padding: 5px 14px;
    background: brown;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager{
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
}
.pager li{
    display: inline;
}
.pager li a{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #337ab7;
    text-decoration: none;
}
label{
    cursor: pointer;
}
.lightbox{
    width: 100% !important;
    height: 70% !important;

}
.lb-outerContainer,
.lb-container,
.lb-container img{
    width: 100% !important;
    height: 100% !important;
}
hr{
    border: .5px solid #606060;
}

.lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{width:100%;z-index:10000;font-weight:400;outline:0}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-outerContainer:after{content:"";display:table;clear:both}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
.editing{
    display: none;
    position: absolute;
    left: 3%;
    top: .9em;
    width: 5.4375rem;
    height: 1.875rem;
    border-radius: 20px;
    background-color: #eee;
}
.numIcon{
    height: 24px;
    width: 24px;
    line-height: 20px;
    position: absolute;
    margin-right: 1.3%;
    margin-top: 1px;
    border-radius: 50px;
    color: #0fca80;
    text-align: center;
    border: 2px solid #0fca80;
    font-family: Rubik;
    font-size: 18px;
}
.publish-step{
    max-width: 55rem;
    margin: 4.4rem auto 0;
}
.publish-step__description{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 1rem 0;
    position: absolute;
    color: #acacac;
    background-color: #f9f9f9;
}
.publish-step__description-first,
.publish-step__add,
#multiImageUpdate,
#imageUpdate,
#videoUpdate,
.haracteristics-property__checkbox,
.radio-input__balconies,
.radio-input{
    display: none;
}
.publish-step__add-first{
    display: block;
}
.publish-step__items{
    position: relative;
    background: #fff;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(12 0 51 / 10%);
    padding: 1.8rem 0;
}
.publish-step__items-first{
    display: block;
}
.publish-step__items-column{
    padding: 0 5% 1%;
}
.publish-step__items h3,
.publish-step__items h4{
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
    padding-right: 5%;
    font-weight: 300;
}
.publish-step__items h4{
    font-size: 1rem;
}
.category-select__items{
    display: flex;
    justify-content: space-around;
}
.category-select__item{
    height: 9.5rem;
    width: 10.125rem;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.addPost-post__item{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
}
.addPost-post__item-checkbox{
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
}
.addPost-post__item label{
    min-height: 1.375rem;
    font-size: 0.875rem;
}
.addPost-post__item select,
.addPost-post__item input{
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 8px;
}
.addPost-post__item-floors{
    width: 72%;
    display: flex;
    flex-direction: row;
}
.addPost-post__item-floors .addPost-post__item{
    width: 31%;
    margin-left: 2%;
}
.btn-nextAnd__previous{
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.btn-nextAnd__previous button{
    height: 2.2rem;
    padding: 0 1.8rem;
    margin: 2rem 0;
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.btn-next{
    color: #ff7100;
    font-weight: bold;
    border: 1px solid #ff7100 !important;
}
.characteristics-property{
    width: 25%;
}
.radio{
    display: inline-flex;
    height: 2.5rem;
    flex-direction: row;
    overflow: hidden;
    width: 98%;
}

.label-input{
    width: 100%;
    padding: 8px 14px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
    background: #fff;
    cursor: pointer;
    border: 1px solid #acacac;
    transition: background 0.1s;
}
.cornerR__label{
    border-radius: 0 5px 5px 0;
}
.cornerL__label{
    border-radius: 5px 0 0 5px;
}
.label-input:not(:last-of-type){
    border-left: 1px solid #acacac;
}
.radio-input__balconies:checked + .label-input__balconies,
.radio-input:checked + .label-input{
    background: #eee;
}
.label-input__balconies{
    width: 100%;
    padding: 8px 14px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
    background: #fff;
    cursor: pointer;
    border: 1px solid #acacac;
    transition: background 0.1s;
}
.label-input__balconies:not(:last-of-type){
    border-left: 1px solid #acacac;
}
.characteristics-property__items{
    width: 80%;
    font-family: sans-serif;
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: repeat(4,25%);
    padding-top: 1.5rem;
    row-gap: 0.875rem;
}
.haracteristics-property__checkbox:checked + .haracteristics-property__item-icon{
    background: #eee;
}
.haracteristics-property__item{
    box-sizing: border-box;
    height: 2.25rem;
    width: 8.75rem;
    border: 1px solid #ccc;
    border-radius: 17px;
    overflow: hidden;
    cursor: pointer;
}
.haracteristics-property__item-icon{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}
.haracteristics-property__item-icon span{
    font-size: 1.1rem;
}
.detail-of__property{
    margin-top: 1.5rem;
}
.detail-of__property h2{
    font-size: 1.2rem;
}

.generalDescription-textarea{
    width: 19.875rem;
    height: 7.75rem;
    font-size: 0.875rem !important;
    padding: 1rem 0.625rem 1.25rem 4.375rem;
    resize: none;
    overflow: auto;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.generalDescription-textarea:focus-visible{
    outline: none;
}
.square-property{
    width: 52%;
    flex-direction: row;
    column-gap: 0.5rem;
    margin: 0;
}
.square-property__list{
    width: 100%;
    margin: 0;
}
.sizePriceEntrydata{
    width: 26%;
}
.sizePriceEntrydata .addPost-post__item{
    width: 100%;
}
.imagesAndVideos-items{
    color: #9d9d9d;
    display: flex;
    column-gap: 1rem;
    margin-top: 2rem;
}
.imagesAndVideos-item{
    width: 14.625rem;
    height: 12.5rem;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.imagesAndVideos-item label{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.updateImage{
    background: #fff;
    padding: 3.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashed-frame{
    border: 2px dashed #9d9d9d;
    border-radius: 5px;
}
.firstImageVideo{
    position: absolute;
    width: 100%;
    height: 100%;
}
.firstImageVideo img{
    width: 100%;
    height: 100%;
}
.insertMultiImage{
    margin: 1.7rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.8rem;
}
.imageAdded{
    display: none;
    position: relative;
    width: 14.625rem;
    height: 12.5rem;
}
.imgshow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.contact-info{
    width: 90%;
    display: grid;
    grid-template-columns: 35% 25% 12% 20%;
    column-gap: 1rem;
    align-items: end;
}
.contact-info__item{
    width: 100%;
}
.verifyNumber{
    height: 2.5rem;
    color: #4dd8a1;
    border: 1px solid #4dd8a1;
    background-color: #dff7ed;
    padding: 0 2.2em 0 1.6em;
    margin-bottom: 1.5rem;
}
.phonePrefix-addPost{
    width: 100%;
    height: 1.5rem !important;
    border: none !important;
}
.add-post{
    width: 10rem;
    margin: auto;
}
.btn-add_post{
    width: 10rem;
    height: 3rem;
    border-radius: 18px;
    color: #ff7100;
    font-weight: bold;
    border: 1px solid #ff7100 !important;
    margin: auto;
}



.publish-header{
    display: flex;
    height: 3.45rem;
    background-color: #fff;
}
.publish-header__description{
    max-width: 77.5rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}
.publish-header div{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.connected-link span,i{
    color: #ff7100;
}
.publish-header__info{
    padding-right: 0.7rem ;
}
.contactus-btn{
    margin: 0 1.2rem 0 0.8rem;
}
.choose-category__wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 4.3rem 0;
    align-items: center;

}
.choose-category__lists{
    max-width: 63.75rem;
    display: grid;
    width: 100%;
    grid-row-gap: 2rem;
    grid-template-rows: auto 14.1rem 13.1rem 3.5rem;
    text-align: center;
}
.category-selected__line1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1.5625rem;
}
.category-selected__line2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1.5625rem;
}
.category-select{
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 5%);
    padding: 1rem;
}
.category-select svg{
    margin-bottom: 0.4rem;
}
.category-select h3{
    display: initial;
    font-size: 1.6rem;
}
.category-select__description{
    width: 70%;
    margin: 0.6rem auto;
}

@media (min-width: 55rem) {

}

.contact-mobile{
    display: none;
    width: 18.75rem;
    height: 13.125rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1.25rem;
    transform: translate(-50% , -50%);
    background-color: #fff;
    border-radius: 5px;
    z-index: 1000;
}
.error{
    display: none;
    color: red;
    font-size: 0.875rem;
}
.contact-mobile div{
    margin-top: 1.5rem;
}
.contactPhoneNumberMobile{
    border: 1px solid #ff7100;
    border-radius: 2px;
    padding: 1rem 0;
    color: #ff7100;
    font-weight: 500;
    margin: 0.9rem 0;
}
.main-mobile__asset{
    margin-bottom: 4rem;
}
.feed-lists__mobile{
    background: #f4f4f4;
}
.feed-lists__mobile-advertising{
    margin-top: 0.8rem;
    text-align-last: center;
    position: sticky;
    top: 3.35rem;
}
.about-properties__mobile{
    margin-top: 1.2rem;
    overflow: hidden;
}
.cityAndDate{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 0 0.9rem;
    color: #999;
}
.about-properties__mobile-image{
    display: flex;
}
.about-properties__mobile-image img{
    height: 17.5rem;
}
.about-properties__mobile-content{
    margin-top: 0.5rem;
    padding: 1rem;
    background: #fff;
    border-top: 3px solid #eee;
}
.about-properties__mobile-content div{
    font-size: 1.1rem;
    padding: 0.3rem;
}
.partial-detail__asset-mobile{
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 0.4rem;
}
.scrolling-content{
    position: sticky;
    top: 6.6rem;
}
.scrolling-items{
    list-style: none;
    display: flex;
    text-align: center;
    background: #fff;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    overflow-y: auto;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 6px -2px rgb(0 0 0 / 10%);
}
.scrolling-item{
    min-width: 9.375rem;
    padding: 0.75rem 0.95rem;
    white-space: nowrap;
}
.scrolling-item a{
    text-decoration: none;
    color: inherit;
}
.general-description__mobile{
    background: #fff;
}
.general-description__property-mobile{
    margin-top: 1.8rem;
    padding: 1rem;
}
#title-onProperty{
    margin: 0 0 0.4rem;
}
.navigation-mobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.navigation-mobile div{
    width: 100%;
    border: 1px solid #eee;
    padding: 0.6rem;
    font-weight: bold;
}
.general-info__lists{
    display: grid;
}
.general-info__lists-mobile{
    grid-template-columns: 1fr;
    padding: 1rem;
}
.general-info__list{
    display: flex;
}
.general-info__list-mobile{
    padding: 0.6rem 0;
    border-bottom: 1px solid #eee;
}
.general-info__list-mobile__title{
    color: #999;
}
.general-info__list-mobile div{
    width: 100%;
}
.property-characteristics__mobile{
    background: #fff;
    padding: 1rem;
}
.property-characteristics__mobile-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin-top: 0.8rem;
    list-style: none;
    padding: 0;
}
.property-characteristics__mobile-item{
    display: flex;
    align-items: center;
}
.property-characteristics__mobile-item span{
    font-size: 1.2rem;
    margin-left: 0.3rem;
    color: #ff7100;
    background: #fff1e5;
}
.mobile-contact{
    border-top: 1px solid #e1e1e1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.6rem;
    align-items: center;
}
.mobile-contact__btn{
    width: 100%;
    height: 2.6rem;
    color: #fff;
    border-radius: 3px;
    font-size: 1.2rem;
    background-color: #0fca80;
}

.notification{
    display: none;
    position: absolute;
    background: #eee;
    z-index: 5;
    width: 50%;
    height: 3rem;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 15%);
    align-items: center;
    padding: 1rem;
    top: 4rem;
    left: 50%;
    transform: translate(-50% , 0);
}
.popUpWindow{
    width: 43.75rem;
    height: 26.875rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    z-index: 200;
}
.close-popUpWindow{
    width: 1.8rem;
    font-size: 1.7rem;
    position: absolute;
    left: 0.8rem;
    top: 0.5rem;

}
.popupContent{
    height: 100%;
}
.popup-connection__wrapper{
    height: 100%;
    display: flex;
}
.popupContent-welcome{
    width: 18.1rem;
    padding: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(229.5deg,#fa0,#ff7100);
}
.popupContent-welcome h1,
.popupContent-welcome h4
{
    color: #fff;
    line-height: 1;
    font-size: 2.6rem;
}
.popupContent-welcome h4{
    font-size: 1.2rem;
}
.couch-lamp__img img{
    width: 14.15rem;
}
.popupContent-inner__wrapper{
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 0.9rem;
}
.header-login h3{
    margin: 0;
    font-size: 1.428rem;
}
.header-login p{
    font-size: 0.8rem;
    margin: 0 0 25px;
    color: #999;
}
.popupContent-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popupContent-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popupContent-login__input__text{
    display: flex;
    flex-direction: column;
}
.popupContent-login__input__text label{
    padding: 0.2rem;
}
.areaCode-content{
    display: flex;
}
.areaCode-btn{
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.areaCode-div{
    height: 100%;
    display: flex;
    align-items: center;
}
.croll-num__selects{
    width: 90%;
    position: absolute;
    top: 115%;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1rem;
    left: 0;
    background-color: #fff;
}
.croll-number{
    overflow-y: scroll;
    height: 12.5rem;
}
.croll-number div{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-clean{
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border-top: 1px solid #ccc;
}
.popupContent-register-content input{
    height: auto !important;

}
.popupContent-login__password{
    position: relative;
}
.popupContent-login__password input{
    width: -webkit-fill-available;
}
.popupContent-login__password span{
    position: absolute;
    left: 15px;
    transform: translate(0,-50%);
    top: 50%;
    cursor: pointer;
}
.btn-connection{
    width: 100%;
    height: 2.5rem;
    margin: 0.6rem 0;
    color: #ccc;
    background-color: #eee;
    border-color: #ccc;
}
.registerOrlogin{
    text-align: center;
    padding-bottom: 1rem;
}
.popupContent-form input{
    height: 2.5rem;
    padding: 0 0.9rem;
    border: 1px solid #ccc;;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 4px;
}

.aConnection{
    color: #ff7100;
}

.send-for__review,
.change-password,
/* .login-popupContent, */
.croll-num__selects,
.popupContent-register__part2,
.register-popupContent,
.password-reset__popupContent{
    display: none;
}
