.main-header{
    position: sticky;
    display: flex;
    height:2.8rem;
    width: 100%;
    background: #ff7100;
    top: 0;
    right: 0;
}
.material-icons{
    color:rgb(0, 0, 0);
}
.main-header__mobile{
    width: 55%;
    display: flex;
    justify-content:space-between;
    align-items:baseline;
}
.toggle-button{
    height:100%;
    border: none;
    background: #ff7100;
    color: white;
    padding: 0 1.2rem;

}
.main-header__brand__mobile img{
    height: 1.5rem;
}
.main-nav{
    display: none;
}
.mobile-searching__property{
    margin: 0.9rem 0.6rem;
    padding: 1rem 0.9rem;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
}
.mobile-searching__property div{
    display: inline-block;
}
.search-mobile__span{
    vertical-align: middle;
    display: inline-block;
}
.search-wrapper,
.navbar-wrapper{
    display: none;
}

.title-description{
    display: flex;
    color: #999;
}
.title-description div{
    padding: 0 0.2rem;
}
.feed-options{
    margin-top: 5rem;
    display: flex;
}
.accessibility-btn,
.showADS,
.sortBy{
    display: none;
}
.filter-option__mobile{
    display: none;
}
.image-container img{
    width: 7.8rem;
    height: 6.25rem;
}

.feed-options__button{
    height: 2rem;
    padding: 0 0.6875rem;
    margin-left: 0.7rem;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 2px;
}
.feed-lists{
    margin-top: 2rem;
}
.feed-list__item{
    display: flex;
    position: relative;
    cursor: pointer;
    background-color: #f5f1bf;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.1);
}
.location-asset{
    display: flex;
    width: 100%;
}
.location-asset__description{
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
}
.partial-detail__asset{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 8.5rem;
    left: 0;
    padding: 0.2rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
}
.asset-price{
    position: absolute;
    display: flex;
    top: 0;
    right: 8.5rem;
    left: 0;
    padding: 0.5rem;
    justify-content: space-between;
}
.main-nav__item,
.material-icon__asset-price{
    display: none;
}
.partial-detail__asset__data div{
    font-size: 0.75rem;
}

@media (min-width: 45rem) {
    .main-header{
        position: unset;
        height: 4.3rem;
        background-color: #fff;
        border-top: 5px solid #ff7100;
        align-items: center;
    }
    .searching-property,
    .main-header__mobile,
    .toggle-button{
        display: none;
    }
    .main-nav{
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.2rem;
        margin-bottom: 2px;
        border-bottom: 1px solid #eee;
    }
    .main-header__brand img{
        height: 3.375rem;
    }
    .main-nav__items{
        list-style: none;
        align-items: center;
        display: flex;
        padding: 0;
    }
    .new-post__add{
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: #0fca80;
        margin: 15px 15px 15px 0;
        line-height: 2.5rem;
        font-weight: 500;
    }
    .new-post__add a{
        text-decoration: none;
    }
    .new-post__add a span{
        color: #fff;
    }
    .new-post__add a i{
        color: #fff;
        vertical-align: super;
    }
    .navbar-wrapper{
        background-color: #fff;
        height: 3.1rem;
        box-shadow: 0 5px 6px 0 rgb(0 0 0 / 10%);
    }
    .feed-navbar{
        height: inherit;
        display: flex;
        justify-content: space-between;
    }
    .feed-navbar__items{
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 6.7rem;
        padding: 0;
    }
    .feed-navbar__item{
        height: 100%;
        font-size: 1.2rem;
        padding: 0 1rem;
    }
    .sub_menu_logo{
        height:1rem;
    }
    .feed-navbar__item a{
        text-decoration: none;
    }
    .feed-navbar__item__description div{
        display: flex;
        align-items: center;
    }
    .feed-navbar__item__description img,
    .feed-navbar__item__description span{
        font-size: 1.1rem;
        padding-left: 0.2rem;
    }
    .feed-navbar__item__description p{
        margin: 0;
    }
    .title{
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 0;
    }
    .title-description{
        align-items: center;
    }
    .title-description div{
        font-size: 1.1rem;
    }
    .accessibility-btn{
        margin: 5px 0;
        height: 2.5rem;
        background-color: #002f75;
        width: 6.25rem;
        border-radius: 3px;
        color: #fff;
        padding: 0;
    }
    .accessibility-btn span{
        color: #fff;
        background-color: #002f75;
        font-size: 30px;
        vertical-align: middle;
    }
    .accessibility-btn i{
        font-weight: 700;
        font-size: 0.9rem;
    }
    .search-wrapper{
        position: relative;
        display: block;
        margin-top: 1.1rem;
        border-radius: 0.25rem;
        width: 100%;
        padding: 1.25rem;
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    }
    .search-realestate__subtitle{
        font-weight: 500;
        margin: 0 0 1.9rem 0;
    }
    .search-realestate__subtitle span{
        color: #ff7100;
        border-bottom: 2px dotted #ff7100;
    }
    .form-search__realestate__columns{
        display: grid;
        grid-template-columns: 5fr 4fr 3fr 5fr 3fr 2fr;
    }
    .search-column{
        position: static;
        display : flex;
        flex-direction: column;
        margin: 0 5px;
    }
    .search-column input{
        color: #999;
        border: 1px solid #ccc;
        border-radius: 1px;
        height: 2.423rem;
        padding: 0.6rem;
    }
    .search-column__button{
        margin-top: 1rem;
    }
    .search-column__button button{
        height: 2.423rem;
    }
    .allTypes-ofAssets{
        position: absolute;
        width: -webkit-fill-available;
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
        padding-top: 0.7rem;
        align-items: center;
    }
    .check-type{
        display: flex;
        align-items: center;
        margin: 0 0.3rem 0.5rem;
    }
    .check-type__btn{
        border-top: 1px solid #eee;
        text-align: left;
    }
    .check-type__btn button{
        color: #ff7100;
        font-size: 1rem;
        padding: 0.8rem;
    }
    .search-advanced{
        background-color: #eee;
    }
    .dropdown-content__search{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        width: 100%;
        max-width: 960px;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
        border-top: 1px solid #ccc;
        z-index: 5;
    }
    .advanced-search__content{
        margin: 1.875rem 2.5rem 0;
    }
    .advanced-search__apartment-characteristics{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        border-bottom: 1px solid #ccc;
    }
    .advanced-search__apartment-characteristic{
        display: flex;
        align-items: center;
    }
    .advanced-search__descriptions{
        list-style: none;
        display: grid;
        grid-template-columns: 5fr 5fr 3fr 3fr;
        column-gap: 0.6rem;
    }
    .advanced-search__description-input{
        display: inline-flex;
    }
    .advanced-search__description-input input{
        width: 100%;
    }
    .free-search{
        width: 60%;
        list-style: none;
        display: flex;
    }
    .free-search__item-input,
    .free-search__item{
        width: 100%;
    }
    .free-search__item-checkbox{
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    .search-again{
        background-color: #ff7100;
    }
    .field-drop__button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        height: 2.423rem;
        border: 1px solid #ccc;
    }
    .feed-options{
        padding-left: 10rem;
        justify-content:space-between;
    }
    .feed-options button{
        height: 2rem;
        border: 1px solid #dbdbdb;
        background-color: #fff;
        border-radius: 2px;
    }
    .feed-options span{
        vertical-align: middle;
    }
    .feed-options i{
        color: black;
    }
    .showADS-mobile,
    .sortBy-mobile{
        display: none;
    }
    .showADS,
    .sortBy{
        display: block;
    }
    .sortBy button{
        width: 10.5rem;
        text-align: right;
    }
    .sortBy span{
        text-align: left;
    }
    .feed-lists{
        margin-top: 1.5rem;
        width: 50rem;
    }
    .feed-list__item{
        padding: 0;
    }
    .feed-list__item:hover{
        box-shadow: 1.5px 1.5px 10px 2px rgb(220 218 218 / 50%);
    }
    .location-asset{
        width: 23.5rem;
        border-left: 1px solid rgba(0,0,0,.1);
    }
    .image-container{
        margin: auto 0.6rem;
    }
    .image-container img{
        width: 6.9rem;
        height: 4.13rem;
    }
    .partial-detail__asset{
        width: 14.5rem;
        position: unset;
        border-left: 1px solid rgba(0,0,0,.1);
        border-top: none;
        justify-content: space-evenly;
    }
    .partial-detail__asset__data div{
        font-size: 1rem;
    }
    .asset-price{
        width: 12rem;
        position: unset;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 1rem;
    }
    .material-icon__asset-price{
        display: inline-block;
    }
    .asset-price span{
        padding: 3px 0 4px 7px;
    }
    .asset-price__data{
        padding-left: 1rem;
    }
    .feed-lists__content{
        display: flex;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.1);
    }
    .newProject-area__image img{
        width: 12rem;
        height: 6.5rem;

    }
    .feed-lists__content-description{
        padding: 0.3rem 0.9rem 0.5rem 0.5rem;
    }
    .feed-lists__subtitle{
        margin: 0.5rem 0;
    }
    .material-icons__including-list{
        font-size: 1.1rem !important;
        padding-left: 0.2rem;
    }
    .feed-lists__description{
        width: 34rem;
        margin-bottom: 0.3rem;
        line-height: 1.3em;
    }
    .general-info__lists{
        grid-template-columns: 1fr 1fr;
    }
    .general-info__list{
        font-size: 0.8rem;
    }
    .general-info__list dd{
        padding-right: 0.2rem;
        font-weight: 600;
    }
    .feed-lists__including-lists{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .including-list{
        display: flex;
        padding: 5px 5px 15px 10px;
    }
}
@media (min-width: 74.5rem) {
    .main-nav__item{
        display: list-item;
        padding: 0 1rem;
    }
}

html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    line-height: 16px;
    color: #363636;
    direction: rtl;
    background: #f9f9f9;
    margin: 0;
    font-family: sans-serif;
}
main {
    max-width: 60rem;
    margin: 0 auto;
}
button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    background-color: initial;
    outline: none;
}
a{
    cursor: pointer;
}
p,h3,dd,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    padding: 0;
}
input[type="checkbox"]
{
    vertical-align: bottom;
}


.publish-header{
    display: flex;
    height: 3.45rem;
    background-color: #fff;
}
.publish-header__description{
    max-width: 77.5rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}
.publish-header div{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.connected-link span,i{
    color: #ff7100;
}
.publish-header__info{
    padding-right: 0.7rem ;
}
.contactus-btn{
    margin: 0 1.2rem 0 0.8rem;
}
.choose-category__wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 4.3rem 0;
    align-items: center;

}
.choose-category__lists{
    max-width: 63.75rem;
    display: grid;
    width: 100%;
    grid-row-gap: 2rem;
    grid-template-rows: auto 14.1rem 13.1rem 3.5rem;
    text-align: center;
}
.category-selected__line1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1.5625rem;
}
.category-selected__line2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1.5625rem;
}
.category-select{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 5%);
}
.category-select__description{
    width: 70%;
    margin: auto;
}

@media (min-width: 55rem) {

}

.main-mobile__asset{
    margin-bottom: 4rem;
}
.feed-lists__mobile{
    background: #f4f4f4;
}
.feed-lists__mobile-advertising{
    margin-top: 0.8rem;
    text-align-last: center;
    position: sticky;
    top: 3.35rem;
}
.about-properties__mobile{
    margin-top: 1.2rem;
}
.cityAndDate{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 0 0.9rem;
    color: #999;
}
.about-properties__mobile-image img{
    width: 100%;
    height: 17.5rem;
}
.about-properties__mobile-content{
    margin-top: 0.5rem;
    padding: 1rem;
    background: #fff;
    border-top: 3px solid #eee;
}
.about-properties__mobile-content div{
    font-size: 1.1rem;
    padding: 0.3rem;
}
.partial-detail__asset-mobile{
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 0.4rem;
}
.scrolling-content{
    position: sticky;
    top: 6.6rem;
}
.scrolling-items{
    list-style: none;
    display: flex;
    text-align: center;
    background: #fff;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    overflow-y: auto;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 6px -2px rgb(0 0 0 / 10%);
}
.scrolling-item{
    min-width: 9.375rem;
    padding: 0.75rem 0.95rem;
    white-space: nowrap;
}
.scrolling-item a{
    text-decoration: none;
    color: inherit;
}
.general-description__mobile{
    background: #fff;
}
.general-description__property-mobile{
    margin-top: 1.8rem;
    padding: 1rem;
}
#title-onProperty{
    margin: 0 0 0.4rem;
}
.navigation-mobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.navigation-mobile div{
    width: 100%;
    border: 1px solid #eee;
    padding: 0.6rem;
    font-weight: bold;
}
.general-info__lists{
    display: grid;
}
.general-info__lists-mobile{
    grid-template-columns: 1fr;
    padding: 1rem;
}
.general-info__list{
    display: flex;
}
.general-info__list-mobile{
    padding: 0.6rem 0;
    border-bottom: 1px solid #eee;
}
.general-info__list-mobile__title{
    color: #999;
}
.general-info__list-mobile div{
    width: 100%;
}
.property-characteristics__mobile{
    background: #fff;
    padding: 1rem;
}
.property-characteristics__mobile-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin-top: 0.8rem;
    list-style: none;
    padding: 0;
}
.property-characteristics__mobile-item{
    display: flex;
    align-items: center;
}
.property-characteristics__mobile-item span{
    font-size: 1.2rem;
    margin-left: 0.3rem;
    color: #ff7100;
    background: #fff1e5;
}




.mobile-contact{
    border-top: 1px solid #e1e1e1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.6rem;
    align-items: center;
}
.mobile-contact__btn{
    width: 100%;
    height: 2.6rem;
    color: #fff;
    border-radius: 3px;
    font-size: 1.2rem;
    background-color: #0fca80;
}

.popUpWindow{
    width: 43.75rem;
    height: 26.875rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
}
.close-popUpWindow{
    width: 1.8rem;
    font-size: 1.7rem;
    position: absolute;
    left: 0.8rem;
    top: 0.5rem;

}
.popupContent{
    height: 100%;
}
.popup-connection__wrapper{
    height: 100%;
    display: flex;
}
.popupContent-welcome{
    padding: 1.9rem;
    background: linear-gradient(229.5deg,#fa0,#ff7100);
}
.popupContent-welcome h1{
    color: #fff;
}
.popupContent-welcome h4{
    color: #fff;
}
.couch-lamp__img img{
    width: 14.15rem;
}
.popupContent-inner__wrapper{
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 0.9rem;
}
.header-login h3{
    margin: 0;
    font-size: 1.428rem;
}
.header-login p{
    font-size: 0.8rem;
    margin: 0 0 25px;
    color: #999;
}
.popupContent-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popupContent-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popupContent-login__input__text{
    display: flex;
    flex-direction: column;
}
.popupContent-login__password{
    position: relative;
}
.popupContent-login__password input{
    width: -webkit-fill-available;
}
.popupContent-login__password span{
    position: absolute;
    left: 15px;
    transform: translate(0,-50%);
    top: 50%;
    cursor: pointer;
}
.btn-connection{
    width: 100%;
    height: 2.5rem;
    margin: 0.6rem 0;
    color: #ccc;
    background-color: #eee;
    border-color: #ccc;
}
.popupContent-form input{
    height: 2.5rem;
    padding: 0 0.9rem;
    border: 1px solid #ccc;;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 4px;
}
.aConnection{
    color: #ff7100;
}

.send-for__review,
.change-password,
.password-reset__popupContent,
.register-popupContent{
    display: none;
}
