.numIcon{
    height: 24px;
    width: 24px;
    line-height: 20px;
    position: absolute;
    margin-right: 1.3%;
    margin-top: 1px;
    border-radius: 50px;
    color: #0fca80;
    text-align: center;
    border: 2px solid #0fca80;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
}
.publish-step{
    max-width: 55rem;
    margin: 4.4rem auto 0;
}
.publish-step__description{
    display: none;
    color: #acacac;
    background-color: #f9f9f9;
}
.publish-step__items{
    position: relative;
    background: #fff;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(12 0 51 / 10%);
    padding: 1.8rem 0;
}
.publish-step__items-column{
    padding: 0 5% 1%;
}
.publish-step__items h3,
.publish-step__items h4{
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
    padding-right: 5%;
    font-weight: 300;
}
.publish-step__items h4{
    font-size: 1rem;
}
.category-select__items{
    display: flex;
    justify-content: space-around;
}
.category-select__item{
    height: 9.5rem;
    width: 10.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.addPost-post__item{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
}
.addPost-post__item-checkbox{
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
}
.addPost-post__item label{
    min-height: 1.375rem;
    font-size: 0.875rem;
}
.addPost-post__item select,
.addPost-post__item input{
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 8px;
}
.addPost-post__item-floors{
    width: 72%;
    display: flex;
    flex-direction: row;
}
.addPost-post__item-floors .addPost-post__item{
    width: 31%;
    margin-left: 2%;
}
.btn-nextAnd__previous{
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.btn-nextAnd__previous button{
    height: 2.2rem;
    padding: 0 1.8rem;
    margin: 2rem 0;
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.btn-next{
    color: #ff7100;
    font-weight: bold;
    border: 1px solid #ff7100 !important;
}
.characteristics-property{
    width: 25%;
}
.radio{
    display: inline-flex;
    height: 2.5rem;
    flex-direction: row;
    overflow: hidden;
    width: 98%;
    /* box-shadow: 0 2px 4px 0 rgb(12 0 51 / 10%); */
}
#multiImageUpdate,
#imageUpdate,
#videoUpdate,
.haracteristics-property__checkbox,
.radio-input__balconies,
.radio-input{
    display: none;
}
.label-input{
    width: 100%;
    padding: 8px 14px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
    background: #fff;
    cursor: pointer;
    border: 1px solid #acacac;
    transition: background 0.1s;
}
.cornerR__label{
    border-radius: 0 5px 5px 0;
}
.cornerL__label{
    border-radius: 5px 0 0 5px;
}
.label-input:not(:last-of-type){
    border-left: 1px solid #acacac;
}
.radio-input__balconies:checked + .label-input__balconies,
.radio-input:checked + .label-input{
    background: #eee;
}
.label-input__balconies{
    width: 100%;
    padding: 8px 14px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
    background: #fff;
    cursor: pointer;
    border: 1px solid #acacac;
    transition: background 0.1s;
}
.label-input__balconies:not(:last-of-type){
    border-left: 1px solid #acacac;
}
.characteristics-property__items{
    width: 80%;
    font-family: sans-serif;
    font-size: 0.875rem;
    display: grid;
    grid-template-columns: repeat(4,25%);
    padding-top: 1.5rem;
    row-gap: 0.875rem;
}
.haracteristics-property__checkbox:checked + .haracteristics-property__item-icon{
    background: #eee;
}
.haracteristics-property__item{
    box-sizing: border-box;
    height: 2.25rem;
    width: 8.75rem;
    border: 1px solid #ccc;
    border-radius: 17px;
    overflow: hidden;
    cursor: pointer;
}
.haracteristics-property__item-icon{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}
.haracteristics-property__item-icon span{
    font-size: 1.1rem;
}
.detail-of__property{
    margin-top: 1.5rem;
}
.detail-of__property h2{
    font-size: 1.2rem;
}

.generalDescription-textarea{
    width: 19.875rem;
    height: 7.75rem;
    font-size: 0.875rem !important;
    padding: 1rem 0.625rem 1.25rem 4.375rem;
    resize: none;
    overflow: auto;
    font-family: Rubik,sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.generalDescription-textarea:focus-visible{
    outline: none;
}
.square-property{
    width: 52%;
    flex-direction: row;
    column-gap: 0.5rem;
    margin: 0;
}
.square-property__list{
    width: 100%;
    margin: 0;
}
.sizePriceEntrydata{
    width: 26%;
}
.sizePriceEntrydata .addPost-post__item{
    width: 100%;
}
.imagesAndVideos-items{
    color: #9d9d9d;
    display: flex;
    column-gap: 1rem;
    margin-top: 2rem;
}
.imagesAndVideos-item{
    width: 14.625rem;
    height: 12.5rem;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.imagesAndVideos-item label{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.updateImage{
    background: #fff;
    padding: 3.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashed-frame{
    border: 2px dashed #9d9d9d;
    border-radius: 5px;
}
.firstImageVideo{
    position: absolute;
    width: 100%;
    height: 100%;
}
.firstImageVideo img{
    width: 100%;
    height: 100%;
}
.insertMultiImage{
    margin: 1.7rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.8rem;
}
.imageAdded{
    display: none;
    position: relative;
    width: 14.625rem;
    height: 12.5rem;
}
.imgshow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.contact-info{
    width: 90%;
    display: grid;
    grid-template-columns: 35% 25% 12% 20%;
    column-gap: 1rem;
    align-items: end;
}
.contact-info__item{
    width: 100%;
}
.verifyNumber{
    height: 2.5rem;
    color: #4dd8a1;
    border: 1px solid #4dd8a1;
    background-color: #dff7ed;
    padding: 0 2.2em 0 1.6em;
    margin-bottom: 1.5rem;
}
.phonePrefix-addPost{
    width: 100%;
    height: 1.5rem !important;
    border: none !important;
}
.add-post{
    width: 10rem;
    margin: auto;
}
.btn-add_post{
    width: 10rem;
    height: 3rem;
    border-radius: 18px;
    color: #ff7100;
    font-weight: bold;
    border: 1px solid #ff7100 !important;
    margin: auto;
}


