html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    line-height: 16px;
    color: #363636;
    direction: rtl;
    background: #f9f9f9;
    margin: 0;
    font-family: sans-serif;
}
main {
    max-width: 60rem;
    margin: 0 auto;
}
button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    background-color: initial;
    outline: none;
}
a{
    cursor: pointer;
}
p,h3,dd,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    padding: 0;
}
input[type="checkbox"]
{
    vertical-align: bottom;
}
