html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px;
    line-height: 16px;
    color: #363636;
    direction: rtl;
    background: #f9f9f9;
    margin: 0;
    font-family: sans-serif;
}
main {
    max-width: 60rem;
    margin: 0 auto;
}
button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    background-color: initial;
    outline: none;
}
a{
    cursor: pointer;
    color: #fff;
}
p,h3,dd,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
input[type="checkbox"]
{
    vertical-align: bottom;
}
.w-5{
    display: none;
}
.my-active span{
    display: inline-block;
    padding: 5px 14px;
    background: brown;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager{
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
}
.pager li{
    display: inline;
}
.pager li a{
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #337ab7;
    text-decoration: none;
}
label{
    cursor: pointer;
}
.lightbox{
    width: 100% !important;
    height: 70% !important;

}
.lb-outerContainer,
.lb-container,
.lb-container img{
    width: 100% !important;
    height: 100% !important;
}
hr{
    border: .5px solid #606060;
}
