.publish-header{
    display: flex;
    height: 3.45rem;
    background-color: #fff;
}
.publish-header__description{
    max-width: 77.5rem;
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}
.publish-header div{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.connected-link span,i{
    color: #ff7100;
}
.publish-header__info{
    padding-right: 0.7rem ;
}
.contactus-btn{
    margin: 0 1.2rem 0 0.8rem;
}
.choose-category__wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 4.3rem 0;
    align-items: center;

}
.choose-category__lists{
    max-width: 63.75rem;
    display: grid;
    width: 100%;
    grid-row-gap: 2rem;
    grid-template-rows: auto 14.1rem 13.1rem 3.5rem;
    text-align: center;
}
.category-selected__line1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 1.5625rem;
}
.category-selected__line2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1.5625rem;
}
.category-select{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 5%);
}
.category-select__description{
    width: 70%;
    margin: auto;
}

@media (min-width: 55rem) {

}
