.post-images{
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
    width: 12.1875rem;
    height: 7.3125rem;
    overflow: hidden;
    z-index: 5;
    border-radius: 5px;
}
.post-images img{
    width: 100%;
    height: 100%;
}
.main-header{
    position: sticky;
    display: flex;
    height:2.8rem;
    width: 100%;
    background: #ff7100;
    top: 0;
    right: 0;
}
.material-icons{
    color:rgb(0, 0, 0);
}
.main-header__mobile{
    width: 55%;
    display: flex;
    justify-content:space-between;
    align-items:baseline;
}
.toggle-button{
    height:100%;
    border: none;
    background: #ff7100;
    color: white;
    padding: 0 1.2rem;

}

.main-header__brand__mobile img{
    height: 1.5rem;
}
.main-nav{
    display: none;
}
.mobile-searching__property{
    margin: 0.9rem 0.6rem;
    padding: 1rem 0.9rem;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
}
.mobile-searching__property div{
    display: inline-block;
}
.search-mobile__span{
    vertical-align: middle;
    display: inline-block;
}
.search-wrapper,
.navbar-wrapper{
    display: none;
}

.title-description{
    display: flex;
    color: #999;
}
.title-description div{
    padding: 0 0.2rem;
}
.feed-options{
    margin-top: 5rem;
    display: flex;
}
.accessibility-btn,
.showADS,
.sortBy{
    display: none;
}
.all-feed__list{
    margin-bottom: 8rem;
}
.filter-option__mobile{
    display: none;
}
.image-container img{
    display: block;
    width: 7.8rem;
    height: 6.25rem;
}

.feed-options__button{
    height: 2rem;
    padding: 0 0.6875rem;
    margin-left: 0.7rem;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 2px;
}
.feed-list__item{
    display: grid;
    position: relative;
    cursor: pointer;
    background-color: #f5f1bf;
    border: 1px solid rgba(0,0,0,.1);
}
.location-asset{
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.image-container{
    width: 7.8rem;
    height: 6.25rem;
    position: absolute;
}
.location-asset__description{
    display: block;
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    overflow: hidden;
    padding-right: 8.5rem;
}
.location-asset__description div{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.partial-detail__asset{
    position: absolute;
    display: flex;
    bottom: 0;
    right: 8.5rem;
    left: 0;
    padding: 0.2rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
}
.asset-price{
    position: absolute;
    display: flex;
    top: 0;
    right: 8.5rem;
    left: 0;
    padding: 0.5rem;
    justify-content: space-between;
}
.main-nav__item{
    display: none;
}
.partial-detail__asset__data div{
    font-size: 0.75rem;
}
.footer{
    background-color: #363636;
    padding: 50px 0 10px;
    color: #fff;
    text-align: center!important;
    padding: 1.25rem 1.25rem 0.625rem;
}
.footer-category__links{
    margin: 1.6rem 0;
    width: 100%;
}
.footer-category__lists{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 500;
}
.social_links{
    width: 11.25rem;
    margin: 1.875rem auto;
    display: flex;
    justify-content: space-between;
}
.footer_icon{
    width: 2.2rem;
    height: 2.2rem;
    background: #000;
    border-radius: 50%;
    position: relative;
}
.footer_icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.copyrights_text{
    width: 100%;
    margin: 1.25rem auto;
    font-size: 0.75rem;
    line-height: .875rem;
    color: #999;
}
.footer_menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-menu__link{
    padding: 0 1.25rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #999;
    text-decoration: none;
}
@media (min-width: 45rem) {
    .main-header{
        position: unset;
        height: 4.3rem;
        background-color: #fff;
        border-top: 5px solid #ff7100;
        align-items: center;
    }
    .searching-property,
    .main-header__mobile,
    .toggle-button{
        display: none;
    }
    .main-nav{
        width: 100%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.2rem;
        margin-bottom: 2px;
        border-bottom: 1px solid #eee;
    }
    .main-header__brand img{
        height: 3.375rem;
    }
    .main-nav__items{
        list-style: none;
        align-items: center;
        display: flex;
        padding: 0;
    }
    .new-post__add{
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: #0fca80;
        margin: 15px 15px 15px 0;
        line-height: 2.5rem;
        font-weight: 500;
    }
    .new-post__add a{
        text-decoration: none;
    }
    .new-post__add a span{
        color: #fff;
    }
    .new-post__add a i{
        color: #fff;
        vertical-align: super;
    }
    .navbar-wrapper{
        background-color: #fff;
        height: 3.1rem;
        box-shadow: 0 5px 6px 0 rgb(0 0 0 / 10%);
    }
    .feed-navbar{
        height: inherit;
        display: flex;
        justify-content: space-between;
    }
    .feed-navbar__items{
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 6.7rem;
        padding: 0;
    }
    .feed-navbar__item{
        height: 100%;
        font-size: 1.2rem;
        padding: 0 1rem;
    }
    .sub_menu_logo{
        height:1rem;
    }
    .feed-navbar__item a{
        text-decoration: none;
    }
    .feed-navbar__item__description div{
        display: flex;
        align-items: center;
    }
    .feed-navbar__item__description img,
    .feed-navbar__item__description span{
        font-size: 1.1rem;
        padding-left: 0.2rem;
    }
    .feed-navbar__item__description p{
        margin: 0;
    }
    .title{
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 0;
    }
    .title-description{
        align-items: center;
    }
    .title-description div{
        font-size: 1.1rem;
    }
    .accessibility-btn{
        margin: 5px 0;
        height: 2.5rem;
        background-color: #002f75;
        width: 6.25rem;
        border-radius: 3px;
        color: #fff;
        padding: 0;
    }
    .accessibility-btn span{
        color: #fff;
        background-color: #002f75;
        font-size: 30px;
        vertical-align: middle;
    }
    .accessibility-btn i{
        font-weight: 700;
        font-size: 0.9rem;
    }
    .search-wrapper{
        position: relative;
        display: block;
        margin-top: 1.1rem;
        border-radius: 0.25rem;
        padding: 1.25rem;
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
    }
    .search-realestate__subtitle{
        font-weight: 500;
        margin: 0 0 1.9rem 0;
    }
    .search-realestate__subtitle span{
        color: #ff7100;
        border-bottom: 2px dotted #ff7100;
    }
    .form-search__realestate__columns{
        display: grid;
        grid-template-columns: 7fr 5fr 4fr 6fr 4fr 3fr;
    }
    .search-column{
        position: static;
        display : flex;
        flex-direction: column;
        margin: 0 5px;
    }
    .search-column input{
        color: #999;
        border: 1px solid #ccc;
        border-radius: 1px;
        height: 2.423rem;
        padding: 0.6rem;
    }
    .search-column__button{
        margin-top: 1rem;
    }
    .search-column__button button{
        height: 2.423rem;
    }
    .allTypes-ofAssets{
        z-index: 5;
        position: absolute;
        width: -webkit-fill-available;
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
        padding-top: 0.7rem;
        align-items: center;
    }
    .check-type{
        display: flex;
        align-items: center;
        margin: 0 0.3rem 0.5rem;
    }
    .check-type__btn{
        border-top: 1px solid #eee;
        text-align: left;
    }
    .check-type__btn button{
        color: #ff7100;
        font-size: 1rem;
        padding: 0.8rem;
    }
    .search-advanced{
        background-color: #eee;
    }
    .dropdown-content__search{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        width: 100%;
        max-width: 960px;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
        border-top: 1px solid #ccc;
        z-index: 5;
    }
    .advanced-search__content{
        margin: 1.875rem 2.5rem 0;
    }
    .advanced-search__content ul{
        padding: 1rem;
    }
    .advanced-search__apartment-characteristics{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        border-bottom: 1px solid #ccc;
    }
    .advanced-search__apartment-characteristic{
        display: flex;
        align-items: center;
    }
    .advanced-search__descriptions{
        display: grid;
        grid-template-columns: 5fr 5fr 3fr 3fr;
        column-gap: 0.6rem;
        border-bottom: 1px solid #ccc;
    }
    .advanced-search__description-input{
        display: inline-flex;
    }
    .advanced-search__description-input input{
        width: 100%;
    }
    .free-search{
        display: flex;
        border-bottom: 1px solid #ccc;
    }
    .free-search__item-input,
    .free-search__item{
        width: 100%;
    }
    .free-search__item-checkbox{
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    .searrchOrClean{
        display: flex;
        justify-content: space-between;
        width: 50%;
        float: left;
    }
    .search-again{
        background-color: #ff7100;
    }
    .field-drop__button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        height: 2.423rem;
        border: 1px solid #ccc;
    }
    .feed-options{
        padding-left: 10rem;
        justify-content:space-between;
    }
    .feed-options button{
        height: 2rem;
        border: 1px solid #dbdbdb;
        background-color: #fff;
        border-radius: 2px;
    }
    .feed-options span{
        vertical-align: middle;
    }
    .feed-options i{
        color: black;
    }
    .showADS-mobile,
    .sortBy-mobile{
        display: none;
    }
    .showADS,
    .sortBy{
        display: block;
        position: relative;
    }
    .sortBy button{
        width: 10.5rem;
        text-align: right;
    }
    .sortBy span{
        text-align: left;
    }
    .feed-filter___dropdowm{
        display: block;
        position: absolute;
        z-index: 5;
        background: #fff;
        padding: 0.75rem 1.1rem;
        top: 3rem;
        transform: translateX(-15%);
    }
    .feed-filter__dropdown__list{
        margin: 0.7rem;
    }
    .feed-lists{
        position: relative;
        margin: 0;
        width: 50rem;
    }
    .feed-list__item{
        grid-template-columns: 23.5rem 14.5rem 12rem;
    }
    .feed-list__item:hover{
        box-shadow: 1.5px 1.5px 10px 2px rgb(220 218 218 / 50%);
    }
    .location-asset{
        height: auto;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .image-container{
        display: flex;
        overflow: hidden;
        width: 10.8rem;
        height: 4.375rem;
        margin: auto 0.6rem;
        position: relative;
    }
    .location-asset__description{
        padding: 0.5rem;
    }
    .image-container img{
        width: 6.9rem;
        height: 4.13rem;
    }
    .image-container__numImage span{
        background: #fff;
        position: absolute;
    }
    .image-container__currentNumber{
        position: absolute;
        font-weight: bold;
        z-index: 3;
    }
    .image-container__numImage span,
    .image-container__currentNumber{
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    .partial-detail__asset{
        position: unset;
        border-left: 1px solid rgba(0,0,0,.1);
        border-top: none;
        justify-content: space-evenly;
    }
    .partial-detail__asset__data div{
        font-size: 1rem;
    }
    .asset-price{
        position: unset;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 1rem;
    }
    .asset-price span{
        padding: 3px 0 4px 7px;
    }
    .asset-price__data{
        padding-left: 1rem;
    }
    .feed-lists__content{
        display: flex;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.1);
    }
    .newProject-area__image img{
        width: 12rem;
        height: 6.5rem;

    }
    .feed-lists__content-description{
        padding: 0.3rem 0.9rem 0.5rem 0.5rem;
    }
    .feed-lists__subtitle{
        margin: 0.5rem 0;
    }
    .btn-contact{
        display: none;
        position: static;
        width: 11.25rem;
        height: 2.1875rem;
        position: absolute;
        top: 5.8rem;
        left: 0.8rem;
        background-color: #0fca80;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 2px;
        z-index: 5;
    }
    .btn-contact__description{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-details{
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    }
    .contact-details div{
        padding: 1rem;
        border-bottom: 1px solid #d6d6d6;
        text-align: center;
        color: black;
    }
    .material-icons__including-list{
        font-size: 1.1rem !important;
        padding-left: 0.2rem;
    }
    .feed-lists__description{
        width: 34rem;
        margin-bottom: 0.3rem;
        line-height: 1.3em;
    }
    .general-info__lists{
        grid-template-columns: 1fr 1fr;
    }
    .general-info__list{
        font-size: 0.8rem;
    }
    .general-info__list dd{
        padding-right: 0.2rem;
        font-weight: 600;
    }
    .feed-lists__including-lists{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .including-list{
        display: flex;
        padding: 5px 5px 15px 10px;
        align-items: center;
    }
    .including-list__info{
        margin-right: 0.3rem;
    }
    .feed-list__item-click{
        height: 8.5625rem;
        grid-template-columns: 35.5rem 14.5rem;
    }
    .location-asset__click{
        border-left: 0;
    }
    .location-asset__description-click{
        position: absolute;
        right: 13.5rem;
    }
    .partial-detail__asset-click{
        position: absolute;
        border-left: 0;
        height: 3.75rem;
        width: 12.1875rem;
        right: 12.7rem;
    }
    .asset-price__click{
        justify-content: center;
        height: 40%;
    }
}
@media (min-width: 74.5rem) {
    .main-nav__item{
        display: list-item;
        padding: 0 1rem;
    }
    .disconnect:hover .user_dropdown{
        display: block;
    }
    .disconnect:hover .connectetFirstLatterName{
        background-color: #eee;
    }
    .user_dropdown .dropdown_item:hover{
        background-color: #eee;
    }
    .connectetFirstLatterName{
        padding: 10px 8px;
        font-size: 1rem;
        line-height: 1.1875rem;
        font-weight: 400;
        margin-left: 3px;
        width: 40px;
        height: 40px;
        background-color: #fff1e5;
        text-align: center;
        border-radius: 50%;
        color: #ff7100;
    }
    .user_dropdown{
        display: none;
        position: absolute;
        width: 170px;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 6px 10px 0 rgb(0 0 0 / 14%);
        top: 4.25rem;
        left: -2.5rem;
        z-index: 100;
    }
    .dropdown_item{
        height: 2.7rem;
        display: flex;
        row-gap: 0.5rem;
        align-items: center;
    }
}
